# -*- mode: gitignore; -*-
# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# Dirs
el-get
doc
elpa
bookmarks
saved-places
semanticdb
request

# Files
emacs-init*.el
ede-projects.el
*gpg
themes/*
backups
url
oauth2.plstore
tramp
ac-comphist.dat
session.*
/gnus
/custom.el

/.python-environments/
