# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]

# Dirs
el-get
doc
elpa
bookmarks
saved-places
semanticdb
request

# Files
*~
emacs-init*.el
ede-projects.el
*gpg
themes/*
backups
url
oauth2.plstore
tramp
.org-id-locations
ac-comphist.dat
session.*
/gnus
